/* fonts */
.futura-outline{
    font-family: "FuturaBQ";

}

.game-font{
    font-family: 'Press Start 2P', cursive;
}

.thin-font{
    font-family: 'IBM Plex Mono', monospace;
}

/* colors */
.white-text{
    background-color: #fff;
}

.mygrey{
    background-color: #d3d3d3
}

.mygreyblue{
    background-color: #698198
}

.mypurple{
    background-color: #4d2d73
}

.mydarkblue{
    background-color: #052645
}

.myblack{
    background-color: #000e1b
}

.mywhite{
    background-color: #ffffff;
}

.mylightblue{
    background-color: #337ab7
}

/* navbar */
nav{
    position: sticky;
    top: 0;
}

/* home */
.fullscreen{
    width: 100%;
    height: 100vh;
    z-index: -10;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
}

.midscreen{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vh;
    z-index: auto;
}
.height-test{
    margin-top: 25%;
    height: 40vh;
}

li{
    width: 20vh;
    text-shadow: 2px 2px black;
}

.going-down{
    margin-top: 60vh;
}

h1{
    z-index: -2;
    color: #337ab7;
    font-size: 800%;
    margin-left: 70%
}

/* work */

.work{
    width: 100%;
    height: 100vh;

}